* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .home {
    height: 80%;
    padding-top: 2vh;
    overflow: hidden;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    
    background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/model-1.jpg") center top;
    background-size: cover;
  }
  
  .home__name {
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #fff;
  }
  
  .home__name--last {
    color: #ff652f;
    font-weight: 700;
  }
  
  .menu-btn {
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .menu-btn__burger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .menu-btn__burger::before {
    content: '';
    position: absolute;
    top: -8px;
    width: 28px;
    height: 3px;
    background: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    top: 8px;
    width: 20px;
    height: 3px;
    background: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .menu-btn__burger.open {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
    background: transparent;
  }
  
  .menu-btn__burger.open::before {
    -webkit-transform: rotate(45deg) translate(5px, 8px);
            transform: rotate(45deg) translate(5px, 8px);
  }
  
  .menu-btn__burger.open::after {
    width: 28px;
    -webkit-transform: rotate(-45deg) translate(3px, -7px);
            transform: rotate(-45deg) translate(3px, -7px);
  }
  
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0.98;
    visibility: hidden;
  }
  
  .nav.open {
    visibility: visible;
  }
  
  .nav .menu-nav {
    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: #272727;
    list-style-type: none;
    padding-right: 1rem;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .nav .menu-nav.open {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  
  .nav .menu-nav__item {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .nav .menu-nav__item.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  
  .nav .menu-nav__item.active > a {
    color: #ff652f;
  }
  
  .nav .menu-nav__link {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem 0;
    font-weight: 300;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .nav .menu-nav__link:hover {
    color: #ff652f;
  }
  
  .menu-nav__item:nth-child(1) {
    -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s;
  }
  
  .menu-nav__item:nth-child(2) {
    -webkit-transition-delay: 0.35s;
            transition-delay: 0.35s;
  }
  
  .menu-nav__item:nth-child(3) {
    -webkit-transition-delay: 0.45s;
            transition-delay: 0.45s;
  }
  
  .menu-nav__item:nth-child(4) {
    -webkit-transition-delay: 0.55s;
            transition-delay: 0.55s;
  }
  
  .about {
    padding-bottom: 2rem;
  }
   .about__bio-image {
    height: 37vh;
    width: 100%;
     background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/model-1.jpg") center top;
    background-size: cover; 
   
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .about__bio-image p {
    margin-bottom: 0.1rem;
   } 
 
  
  .about__bio {
    width: 80%;
    text-align: center;
    padding-bottom:5px;
  }
  
  .about__bio .text-secondary {
    padding-bottom: 1rem;
  }
  
  .about .jobs {
    width: 60vw;
    margin: 1rem auto 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  
  .about .jobs__job {
    background: #414141;
    padding: 0.5rem;
    border-bottom: 5px solid #ff652f;
  }
  
  .about .jobs__job h2, .about .jobs__job h3 {
    margin: 0.5rem 0;
  }
  
  .about .jobs__job h6 {
    margin: 0.3rem 0;
  }
  
  .about .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .about footer {
    -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
            transform: rotate(90deg) translate(-3rem, -5rem);
  }
  
  .projects {
    padding-bottom: 2rem;
  }
  
   .projects__bio-image {
    height: 30vh;
    width: 100%;
    background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/model-1.jpg") center top;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .projects__bio-image .text-secondary {
    font-size: 2rem;
    margin-bottom: 2rem;
  }  
  
  .projects__items {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  
  .projects__item {
    position: relative;
    border-bottom: 5px solid #ff652f;
    overflow: hidden;
    cursor: pointer;
  }
  
  .projects__item img {
    width: 100%;
  }
  
  .projects__item::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: #f7b7a0;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .projects__item:hover::after {
    top: 0;
    opacity: 0.9;
  }
  
  .projects__item:hover .projects__btn {
    opacity: 1;
  }
  
  .projects__btns {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: -ms-grid;
    display: grid;
   
  }
  
  .projects__btn {
    opacity: 0;
    color: #000;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .projects__btn:hover {
    color: #fff;
  }
  
  .projects .social-icons {
   
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .projects footer {
    -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
            transform: rotate(90deg) translate(-3rem, -5rem);
  }
  
  .contact {
    height: 100%;
    padding-top:25vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/model-1.jpg") center top;
    background-size: cover;
  }
  
  .contact h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  .contact__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 2rem;
    font-size: 1.5rem;
  }
  
  .contact .social-icons {
    position: initial;
    margin-top: 2rem;
  }
  
  @media screen and (min-width: 768px) {
    .menu-btn {
      visibility: hidden;
    }
    .nav {
      visibility: visible;
    }
    .nav .menu-nav {
      display: block;
      -webkit-transform: translateY(0);
              transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;
    }
    .nav .menu-nav__item {
      display: inline;
      padding-right: 1.5rem;
    }
    .nav .menu-nav__link {
      font-size: 1.5rem;
    }
    .about__bio {
      font-size: 1.5rem;
    }
    .projects__bio-image {
      height: 40vh;
    }
    
    }
    .projects .text-secondary {
      font-size: 3rem;
    }
    .contact__list {
     
          grid-template-columns: repeat(3, 1fr);
    }
  
  
  @media screen and (min-width: 1024px) {
    .projects__items {
  
          grid-template-columns: repeat(1, 1fr);
    }
    .contact__list {
      
          grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (min-width: 1600px) {
    .projects__bio-image {
      height: 50vh;
    }
  }
  
  body {
    background: #272727;
    color: #fff;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
  }
  
  h1, h2, h3 {
    font-weight: 400;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  .text-secondary {
    color: #ff652f;
  }
  
  header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
  }
  
  main {
    height: 95%;
    width: 100%;
  }
  
  main .social-icons {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    display: flex;
    gap: 10px;
    color: #ff652f;
  }
  
  main .social-icons a {
    padding: 0.4rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  main .social-icons a:hover {
    color: #ff652f;
  }
  
  footer {
    font-size: 1rem;
    position: fixed;
    bottom: 0.4rem;
    right: 1rem;
    text-align: right;
    padding: 1rem;
    color: #fff;
  }
  